<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img id="logo" src="../img/logo.png">
            <br><br>
            <h1>See what music is playing in nearby bars.</h1>
            <br>
            <h1>In real-time.</h1>
            <hr>
            <p>Vibechek shows you the last ten songs played in bars near you, so you can check the vibe and discover new places.</p>
            <br>
            info@vibechek.io
        </div>
    </div>
</header>
